<?xml version="1.0" encoding="utf-8"?>
<application project_name="InAppPurchaseSample" version="1.00" runtime_version="4.03" sdk_version="4.03.42" default_locale="en-US">
  <app_xml_format version="1.00.00" sdk_type="Unity for PSM" />
  <name>
    <localized_item locale="en-US" value="LongName" />
  </name>
  <short_name>
    <localized_item locale="en-US" value="ShortName" />
  </short_name>
  <parental_control lock_level="2" />
  <rating_list highest_age_limit="3" has_online_features="false">
    <online_features chat="false" personal_info="false" user_location="false" exchange_content="false" />
    <rating type="ESRB" value="3" age="3" code="456" />
    <rating type="PEGIEX" value="3" age="3" code="123" />
    <rating type="SELF" value="3" age="3" />
  </rating_list>
  <images icon_128x128="icon_128x128.png" icon_256x256="icon_256x256.png" icon_512x512="icon_512x512.png" splash_854x480="splash_854x480.png" />
  <genre_list>
    <genre value="Games:Action" />
    <genre value="Games:Adventure" />
  </genre_list>
  <developer>
    <name value="" />
  </developer>
  <website href="http://in.app.purchase.dummy/" />
  <copyright author="Copyright" text="mycopyright.txt" />
  <purchase>
    <product_list>
      <product label="SWD001" type="normal">
        <name>
          <localized_item locale="en-US" value="Broken Sword" />
          <localized_item locale="ja-JP" value="こわれたつるぎ" />
        </name>
      </product>
      <product label="SWD002" type="normal">
        <name>
          <localized_item locale="en-US" value="Brittle Sword" />
          <localized_item locale="ja-JP" value="もろいつるぎ" />
        </name>
      </product>
      <product label="SWD003" type="normal">
        <name>
          <localized_item locale="en-US" value="Normal Sword" />
          <localized_item locale="ja-JP" value="ふつうのつるぎ" />
        </name>
      </product>
      <product label="SWD004" type="normal">
        <name>
          <localized_item locale="en-US" value="Strong Sword" />
          <localized_item locale="ja-JP" value="つよいつるぎ" />
        </name>
      </product>
      <product label="SWD005" type="normal">
        <name>
          <localized_item locale="en-US" value="Extreme Sword" />
          <localized_item locale="ja-JP" value="きゅうきょくのつるぎ" />
        </name>
      </product>
      <product label="SLD001" type="normal">
        <name>
          <localized_item locale="en-US" value="Aluminum Shield" />
          <localized_item locale="ja-JP" value="アルミのたて" />
        </name>
      </product>
      <product label="SLD002" type="normal">
        <name>
          <localized_item locale="en-US" value="Ceramic Shield" />
          <localized_item locale="ja-JP" value="セラミックのたて" />
        </name>
      </product>
      <product label="SLD003" type="normal">
        <name>
          <localized_item locale="en-US" value="Titanium Shield" />
          <localized_item locale="ja-JP" value="チタンのたて" />
        </name>
      </product>
      <product label="SLD004" type="normal">
        <name>
          <localized_item locale="en-US" value="Iridium Shield" />
          <localized_item locale="ja-JP" value="イリジウムのたて" />
        </name>
      </product>
      <product label="SLD005" type="normal">
        <name>
          <localized_item locale="en-US" value="Diamond Shield" />
          <localized_item locale="ja-JP" value="ダイヤモンドのたて" />
        </name>
      </product>
      <product label="SUP001" type="consumable">
        <name>
          <localized_item locale="en-US" value="Charm" />
          <localized_item locale="ja-JP" value="おまもり" />
        </name>
      </product>
      <product label="SUP002" type="consumable">
        <name>
          <localized_item locale="en-US" value="Bell" />
          <localized_item locale="ja-JP" value="ベル" />
        </name>
      </product>
      <product label="SUP003" type="consumable">
        <name>
          <localized_item locale="en-US" value="Holy Water" />
          <localized_item locale="ja-JP" value="せいすい" />
        </name>
      </product>
      <product label="SUP004" type="consumable">
        <name>
          <localized_item locale="en-US" value="Book of Wisdom" />
          <localized_item locale="ja-JP" value="ちえのほん" />
        </name>
      </product>
      <product label="SUP005" type="consumable">
        <name>
          <localized_item locale="en-US" value="Love potion" />
          <localized_item locale="ja-JP" value="ほれぐすり" />
        </name>
      </product>
    </product_list>
  </purchase>
  <runtime_config>
    <memory managed_heap_size="32768" resource_heap_size="65536" />
    <display max_screen_size="1280x800" />
    <camera max_capture_resolution="800x600" />
  </runtime_config>
  <feature_list>
    <feature value="GamePad" />
    <feature value="Touch" />
    <feature value="##SDKType:Unity for PSM" />
  </feature_list>
  <psn_service_list />
  <unity>
    <unity_original_runtime_version value="04.3.4.2" />
    <app_ver value="01.02" />
  </unity>
</application>